.Footer{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: auto;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.Location_global{
    width: 12%;
    height: inherit;
    display: flex;
    align-items: center;
    color: #d9b08c;
}

.Yandex_map{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: beige;
}

/* .ymaps-2-1-79-map {
    position: relative;
    z-index: 0;
    height: 200px !important;
    display: block;
    width: 200px !important;
    margin: 0!important;
    padding: 0!important;
    text-align: left!important;
    text-decoration: none!important;
    color: #000;
    font-weight: 400!important;
    font-style: normal!important;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-print-color-adjust: exact;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0); */